.main {
  margin-top: 7%;
  width: 60%;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 15px;
  width: 50%;
}

.register {
  background: #fef200;
  background-color: #fef200;
  padding: 3%;
}
.register-left {
  text-align: center;
  color: #fff;
  margin-top: 4%;
}
.register-left input {
  border: none;
  border-radius: 1.5rem;
  padding: 2%;
  width: 60%;
  background: #f8f9fa;
  font-weight: bold;
  color: #383d41;
  margin-top: 5%;
  margin-bottom: 3%;
  cursor: pointer;
}
.register-right {
  background: #f8f9fa;
  border-top-left-radius: 10% 50%;
  border-bottom-left-radius: 10% 50%;
}
.register-left img {
  margin-top: 15%;
  margin-bottom: 5%;
  width: 25%;
}
@-webkit-keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
@keyframes mover {
  0% {
    transform: translateY(0);
  }
  100% {
    transform: translateY(-20px);
  }
}
.register-left p {
  font-weight: lighter;
  padding: 12%;
  margin-top: -9%;
  color: #ffffff;
}
.register .register-form {
  padding: 10%;
  margin-top: 10%;
  padding-bottom: 6%;
}
.form-control {
  height: 35px;
}
.btnRegister {
  margin-top: 2%;
  border: none;
  border-radius: 1.5rem;
  padding: 2%;
  background: #000000;
  color: #fff;
  font-weight: 600;
  width: 40%;
  cursor: pointer;
}
.s-login {
  padding: 5px 40px;
  border-radius: 20px;
  border: none;
}
.btnlogin {
  border: none;
  border-radius: 1.5rem;
  padding: 10px 30px;
  background: #000000;
  color: #fff;
  font-weight: 600;
  cursor: pointer;
}
.btnotp {
  margin-top: 3%;
  border: none;
  border-radius: 1.5rem;
  padding: 2%;
  background: #000000;
  color: #fff;
  font-weight: 600;
  width: 40%;
  cursor: pointer;
}
.register .nav-tabs {
  margin-top: 3%;
  border: none;
  background: #0062cc;
  border-radius: 1.5rem;
  width: 28%;
  float: right;
}
.register .nav-tabs .nav-link {
  padding: 2%;
  height: 34px;
  font-weight: 600;
  color: #fff;
  border-top-right-radius: 1.5rem;
  border-bottom-right-radius: 1.5rem;
}
.register .nav-tabs .nav-link:hover {
  border: none;
}
.register .nav-tabs .nav-link.active {
  width: 100px;
  color: #0062cc;
  border: 2px solid #0062cc;
  border-top-left-radius: 1.5rem;
  border-bottom-left-radius: 1.5rem;
}
.register-heading {
  text-align: center;
  margin-top: 8%;
  margin-bottom: -15%;
  color: #000000;
}
.signup {
  text-align: center;
  padding-top: 20px;
  width: fit-content;
  color: #000000;
  padding-left: 11px;
  text-decoration: underline;
}
.has-feedback .form-control {
  padding-right: 25px;
}

.sign-btn {
  text-align: center;
  padding-top: 20px;
  width: fit-content;
  text-decoration: underline;
}
.center-block {
  display: block;
  margin-right: auto;
  margin-left: auto;
}
@media only screen and (max-width: 600px) {
  .main {
    margin-top: 7%;
    width: 99%;
  }
  .register-left img {
    margin-top: 3%;
    margin-bottom: 0%;
    width: 17%;
  }
  .register-left p {
    font-weight: lighter;
    padding: 11%;
    margin-top: -10%;
    padding-bottom: 0px;
    color: #ffffff;
  }
}
btnlogin:disabled {
  color: -internal-light-dark(rgba(16, 16, 16, 0.3), white);
  background-color: -internal-light-dark(
    rgba(239, 239, 239, 0.3),
    rgba(19, 1, 1, 0.3)
  );
  border-color: -internal-light-dark(
    rgba(118, 118, 118, 0.3),
    rgba(195, 195, 195, 0.3)
  );
}
